<table class="itu" id="songs" data-highlight="library_music">
  <thead>
    <tr>
      <th>Title</th>
      <th>Duration</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Genre</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr class="song song_<%= song.id %>" data-song-id="<%= song.id %>">
        <td><a href="javascript:void(0)"><%= song.title %></a></td>
        <td><a href="javascript:void(0)"><%= song.duration_converted %></a></td>
        <td><a href="javascript:void(0)"><%= song.artist %></a></td>
        <td><a href="javascript:void(0)"><%= song.album %></a></td>
        <td><a href="javascript:void(0)"><%= song.genre_name %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(function(){
    // add tablesorting
    $("table#songs").tablesorter();
    // make my songs draggable
    $(".song").draggable({
      cursorAt: { left: 100 },
      helper: 'clone',
      opacity: 0.3
    });
    // make my playlists droppable
    $(".droppable_playlist").droppable({
      accept: '.song',
      over: function(){
        $(this).addClass('selected');
      },
      out: function(){
        $(this).removeClass('selected');
      },
      drop: function(event, ui) {
        $(this).removeClass('selected');
        var playlist_id = $(this).attr('data-playlist-id');
        var song_id = ui.draggable.attr('data-song-id');
        $.post('/playlists/'+playlist_id+'/add/'+song_id);
      }
    });
    // this is my trash can that deletes songs completely
    $("#sidebar .trashcan").droppable({
      accept: '.song',
      over: function(){
        $(this).addClass('selected');
      },
      out: function(){
        $(this).removeClass('selected');
      },
      drop: function(event, ui){
        $(this).removeClass('selected');
        var item = ui.draggable;
        item.remove();
        $.ajax({
          url: '/songs/'+item.attr('data-song-id'),
          type: "POST",
          data: '_method=delete'
        });
      }
    });
    // new song
    $('#new_song').bind('click', function(){
      $('#dialog').empty();
      $('#dialog').dialog('option', 'title', 'New Song');
      $('#dialog').dialog('option', 'height', 100);
      $('#dialog').dialog('option', 'width', 300);
      $('#dialog').load('/songs/new');
      $('#dialog').dialog('open');
    });
    // edit song
    $('tr.song').bind('click', function(){
      var song_id = $(this).attr('data-song-id');
      $('#dialog').empty();
      $('#dialog').dialog('option', 'title', 'Edit Song');
      $('#dialog').load('/songs/'+song_id+'/edit');
      $('#dialog').dialog('open');
    });
  });
</script>