<table class="itu" id="songs" highlight="library_music">
  <thead>
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Genre</th>
    </tr>
  </thead>
  <tbody>
  <% @songs.each do |song| %>
    <tr class="song song_<%= song.id %>" song_id="<%= song.id %>">
      <td><a href="javascript:void(0)"><%= song.name %></a></td>
      <td><a href="javascript:void(0)"><%= song.time %></a></td>
      <td><a href="javascript:void(0)"><%= song.artist %></a></td>
      <td><a href="javascript:void(0)"><%= song.album %></a></td>
      <td><a href="javascript:void(0)"><%= song.genre %></a></td>
    </tr>
  <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    // add search to table
    $('table#songs tbody tr').quicksearch({
      position: 'before',
      attached: 'table#songs',
      formId: 'content_search',
      stripeRowClass: ['odd', 'even'],
      labelText: 'Search Songs',
      focusOnLoad: true
    });

    // make my songs draggable
    $(".song").draggable({
      cursorAt: { left: 100 },
      helper: 'clone',
      opacity: 0.3
    });

    // this is my trash can that deletes songs completely
    $("#sidebar .trashcan").droppable({
      accept: '.song',
      over: function(){
        $(this).addClass('selected');
      },
      out: function(){
        $(this).removeClass('selected');
      },
      drop: function(event, ui){
        $(this).removeClass('selected');
        var song_id = ui.draggable.attr('song_id');
        $.ajax({
          url: '/songs/'+song_id,
          type: "POST",
          data: '_method=delete',
          success: function(){
            $('tr.song_'+ui.draggable.attr('song_id')).remove();
          }
        });
      }
    });
  });
</script>
