<table class="itu" id="songs" data-playlist-id="<%= @playlist.id %>" data-highlight="playlist_<%= @playlist.id %>">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Duration</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Genre</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr class="sortable song item" data-song-id="<%= item.id %>">
        <td style="width:20px"><%= image_tag 'icons/arrow_up_down.png', :class => 'handle' %></td>
        <td class="grabbable"><a href="javascript:void(0)"><%= item.title %></a></td>
        <td class="grabbable"><a href="javascript:void(0)"><%= item.duration_converted %></a></td>
        <td class="grabbable"><a href="javascript:void(0)"><%= item.artist %></a></td>
        <td class="grabbable"><a href="javascript:void(0)"><%= item.album %></a></td>
        <td class="grabbable"><a href="javascript:void(0)"><%= item.genre %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(function(){
    <% if APP_CONFIG[:jukeman_server] == nil %>
      // setup my footer button
      $("#footer div.col1").append("<a href='javascript:void(0)' class='edit_playlist' style='margin-right:5px'><img src='/images/icons/cd_edit.png' /> Playlist</a>");
      $("#footer div.col1").append("<a href='javascript:void(0)' class='remove_playlist' style='margin-right:5px'><img src='/images/icons/delete.png' /> Playlist</a>");
      $("#footer div.col3").append("<a href='/playlists/<%= @playlist.id %>/activate' class='activate_playlist' style='margin-right:5px'>Activate Playlist</a>");
    <% end %>
    // make my songs draggable
    $(".song").draggable({
      handle: 'td.grabbable',
      cursorAt: { left: 100 },
      helper: 'clone',
      opacity: 0.3,
    });
    // make my playlist songs sortable
    $('table#songs').sortable({
      items: 'tr.sortable',
      handle:'img',
      containment: $('table#songs').parent(),
      axis:'y',
      scroll: false,
      update: function() {
        $.ajax({
          url: '/playlists/<%= @playlist.id %>',
          data: 'playlist[items]='+song_array(),
          type: 'PUT',
          dataType: 'json'
        })
      }
    });
    // this is my trashcan that just removes a song from a playlist
    $("#sidebar .trashcan").droppable({
      accept: '.song',
      over: function(){
        $(this).addClass('selected');
      },
      out: function(){
        $(this).removeClass('selected');
      },
      drop: function(event, ui){
        $(this).removeClass('selected');
        ui.draggable.remove();
        setTimeout(function(){
          $.ajax({
            url: '/playlists/<%= @playlist.id %>',
            data: 'playlist[items]='+song_array(),
            type: 'PUT',
            dataType: 'json'
          })
        }, 100)
      }
    });
  });
</script>