<table class="itu" id="songs" playlist_id="<%= @playlist.id %>" highlight="playlist_<%= @playlist.id %>">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Time</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Genre</th>
    </tr>
  </thead>
  <% @items.each do |item| %>
    <tr class="sortable song item_<%= item.id %>" id="<%= "item_#{item.ordinal}" %>" item_id="<%= item.id %>" song_id="<%= item.song.id %>">
      <td style="width:20px"><%= image_tag 'icons/arrow_up_down.png', :class => 'handle' %></td>
      <td class="grabbable"><a href="javascript:void(0)"><%= item.song.name %></a></td>
      <td class="grabbable"><a href="javascript:void(0)"><%= item.song.time %></a></td>
      <td class="grabbable"><a href="javascript:void(0)"><%= item.song.artist %></a></td>
      <td class="grabbable"><a href="javascript:void(0)"><%= item.song.album %></a></td>
      <td class="grabbable"><a href="javascript:void(0)"><%= item.song.genre %></a></td>
    </tr>
  <% end %>
</table>

<script>
  $(document).ready(function() {
    
    function resort_playlist_items(){
      $('tr.sortable').each(function(i){
        counter = i + 1
        $(this).attr('id', 'item_'+counter);
      });
    };
    
    // setup my footer button
    $("#footer div.col1").append("<a href='/playlists/<%= @playlist.id %>/edit' class='edit_playlist' style='margin-right:5px'><img src='/images/icons/cd_edit.png' /> Playlist</a>");
    $("#footer div.col1").append("<a href='javascript:void(0)' class='remove_playlist' style='margin-right:5px'><img src='/images/icons/delete.png' /> Playlist</a>");


    // make my songs draggable
    $(".song").draggable({
      handle: 'td.grabbable',
      cursorAt: { left: 100 },
      helper: 'clone',
      opacity: 0.3,
    });

    // make my playlist songs sortable
    $('table#songs').sortable({
      items: 'tr.sortable',
      handle:'img',
      containment:'window',
      axis:'y',
      update: function() {
        var playlist_id = $('table#songs').attr('playlist_id');
        $.post('/items/sort', 'playlist_id='+playlist_id+'&'+$(this).sortable('serialize'));
        resort_playlist_items();
      }
    });
    
    // this is my trashcan that just removes a song from a playlist
    $("#sidebar .trashcan").droppable({
      accept: '.song',
      over: function(){
        $(this).addClass('selected');
      },
      out: function(){
        $(this).removeClass('selected');
      },
      drop: function(event, ui){
        $(this).removeClass('selected');
        var item_id = ui.draggable.attr('item_id');
        $.ajax({
          url: '/items/'+item_id,
          type: "POST",
          data: '_method=delete',
          success: function(){
            $('tr.item_'+ui.draggable.attr('item_id')).remove();
            resort_playlist_items();
          }
        });
      }
    });
    
    // bind my delete playlist button
    $('a.remove_playlist').bind('click', function(){
      var playlist_id = $("#songs").attr('playlist_id');
      var answer = confirm("Are you sure you want to delete this playlist?");
      if (answer){
        $.ajax({
          url: '/playlists/'+playlist_id,
          type: "POST",
          data: '_method=delete',
          success: function(){
            window.location.href="/"
          }
        });
      };
    });
  });
</script>
