<table class="itu" id="songs" highlight="playlist_<%= @playlist.id %>">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Time</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Genre</th>
    </tr>
  </thead>
  <% @items.each do |item| %>
    <tr class="sortable" id="item_<%= item.id %>">
      <td><a href="javascript:void(0)"><%= item.song.id %></a></td>
      <td><a href="javascript:void(0)"><%= item.song.name %></a></td>
      <td><a href="javascript:void(0)"><%= item.song.time %></a></td>
      <td><a href="javascript:void(0)"><%= item.song.artist %></a></td>
      <td><a href="javascript:void(0)"><%= item.song.album %></a></td>
      <td><a href="javascript:void(0)"><%= item.song.genre %></a></td>
    </tr>
  <% end %>
</table>