<%= form.error_messages %>

<p><%= form.label :name %>: <%= form.text_field :name %></p>
<p><%= form.label :active_playlist %>: <%= form.select :active_playlist, @playlists.collect { |playlist| [playlist.name] } %></p>

