<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title><%= APP_CONFIG[:site_name] %></title>
		<meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="distribution" content="all" />
		<meta name="robots" content="all" />	
		<meta name="resource-type" content="document" />
		<meta name="MSSmartTagsPreventParsing" content="true" />
		<%= stylesheet_link_tag "blueprint/screen", "common", "jquery-theme", "playlists" %>
		<%= javascript_include_tag "jquery", "jquery-ui", "common", "playlists" %>
	</head>
	<body>
    <div id="header">
      <h1 class="hide"><%= APP_CONFIG[:site_name] %></h1>
      <ul>
        <li><a href="/"><%= image_tag('icons/music.png') %>Playlists</a></li>
        <li><a href="/locations"><%= image_tag('icons/building.png') %>Locations</a></li>
      </ul>
      <div class="flash"><%= flash_messages %></div>
    </div>
    
    <div id="sidebar">
      <h2>LIBRARY</h2>
      <ul class="itu">
        <li><a href="/" class="library_music" highlight="library_music">Music</a></li>
        <li class="trashcan"><a href="javascript:void(0)" id="trash">Trash</a></li>
        <li class="import_from_folder"><a href="javascript:void(0)" id="import_from_folder">Import from Folder</a></li>
      </ul>
      <h2>PLAYLISTS</h2>
      <ul class="itu">
        <% @playlists.each do |playlist| %>
          <li class="droppable_playlist" id="playlist_<%= playlist.id %>" playlist_id="<%= playlist.id %>">
            <a href="/playlists/<%= playlist.id %>" class="playlist" highlight="playlist_<%= playlist.id %>">
              <%= playlist.name %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
    
    <div id="center" class="container">
      <%= yield %>
    </div>
    
    <div id="trash_dialog">
      <p>You just clicked on the trash can :-)</p>
      <p>The trash can is useful for two things. <br />1. When you are in your Music Library you can drag a song to the trash to delete it. <br />2. When you are in a playlist you can drag a song to the trash to remove it from the playlist.</p>
    </div>
    
    <div id="importing_from_folder_dialog">
      <img src="/images/ajax-loader.gif" />
    </div>
    <div id="imported_from_folder"></div>
    
    <div id="footer">
      <div class="col1">
        <a href='/playlists/new'><img alt='Add' src='/images/icons/add.png' /> Playlist</a>
      </div>
      <div class="col2">
        <a href='/songs/new'><img src='/images/icons/add.png' /> Song</a>
      </div>
      <div class="col3">
      </div>
    </div>
	</body>
</html>